/*          --------------------          GENERAL PROVISIONS          --------------------          */
:root {
    --font-title: 'Alegreya', serif;
    --font-text: 'Source Sans 3', sans-serif;

    --lbg-color: #F5F5F5;
    --lpri-color: #395CAD;
    --lsec-color: #748EE5;
    --lter-color: #EAEFFF;
    --ldetails-color: #D8A31A;
    --ltext-color: #000000;

    --dbg-color: #0A0A0A;
    --dpri-color: #0072CE;
    --dsec-color: #748EE5; /* #8DA5DA */
    --dter-color: #E3D0FF;
    --ddetails-color: #D8A31A;
    --dtext-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;
    font-family: var(--font-text);
    color: var(--ltext-color);
}

body { 
    background: var(--lbg-color);
}



/*          --------------------          HEADER          --------------------          */
header {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.123);
    padding: 2.3rem 0;
}

header img {
    width: 3.7rem;
}

nav a {
    font-size: 1.3rem;
    margin: 2rem;
    text-decoration: none;
    transition: .3s;
}

nav a.active,
nav a:hover {
    color: var(--ldetails-color);
}

#menu-icon {
    display: none;
    font-size: 30px;
}

/* -----     Switch     ----- */
.switch { 
    display: block;
    position: relative;
    width: 3.5em;
    height: 2em;
}

.switch input {   /* Hide default checkbox */
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    background-color: #e5e2e2;
    transition: .4s;
}

.slider:before {
    position: absolute;
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    transition: .4s;
}

input:checked + .slider { 
    background-color: #141414;
}

input:checked + .slider:before {
    left: calc(100% - (1.4em + 0.3em));
    background: #141414;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}



/*          --------------------          HOME SECTION          --------------------          */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #D8A31A;
}

.home h3 {
    font-size: 2.1rem;
    font-weight: 700;
}

.home h1 {
    font-size: 4.5rem;
    line-height: 1.3;
    font-weight: 700;
}

.home img {
    width: 35vw;
}



